<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appSettings>
    	
	<add key="Monitor/LogToText" value="true" />

	<add key="Smtp/Host" value="app-smtp.invenietis.net" />
        <add key="Smtp/Port" value="587" />
        <!-- set the password in TestHelper::Smtp::Password -->
        <add key="Smtp/Password" value="" />
        <add key="Smtp/User" value="invback@invenietis.net" />
        <add key="Smtp/DefaultSenderEmail" value="no-reply@signature.com" />
        <!-- set the recipient in TestHelper::Smtp::DefaultRecipient -->
        <add key="Smtp/DefaultRecipient" value="" />
    </appSettings>
</configuration>
